// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header{
    position:absolute !important;
    top:0 !important;
}

footer{
    position:absolute !important;
    bottom: 0 !important;
}