// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main{
    min-height: calc(100vh - 142.06px);
    margin-top:2px;
}

.logo{
    height: 200px;
}
  
.logo img{
    height: 100%;
}

footer{
    bottom: 0 ;
}

.icono-barra{
    width:100% !important;
}

select{
    cursor: pointer;
}